# Laboratory work #1,  Kuralay Makhmetova, id: 26207

# Task 1

In [1]:
import numpy #importing numpy library 

values = [9, 11, 22, 34, 17, 22, 34, 22, 40] #the values of task
mean = numpy.mean(values) #calculating the mean with mean() method
print(mean) #printing the mean

23.444444444444443

In [2]:
median = numpy.median(values) #calculating the median with median() method
print(median) #printing the median

22.0

In [3]:
from scipy import stats #importing the stats from scipy

mode = stats.mode(values) #calculating the mode with mode() method
print(mode) #printing the mode

ModeResult(mode=array([22]), count=array([3]))

In [4]:
# Suppose the values included another 34. What problem might occur?
values = [9, 11, 22, 34, 17, 22, 34, 22, 40, 34] #the new values with another 34

mean = numpy.mean(values) #calculating the mean with mean() method
print(mean) #printing the mean

24.5

In [5]:
median = numpy.median(values) #calculating the median with median() method
print(median) #printing the median

mode = stats.mode(values) #calculating the mode with mode() method
print(mode) #printing the mode

22.0
ModeResult(mode=array([22]), count=array([3]))

### The mean changed, because I added another 34. The median didn't change, because median value is 22. The mode didn't change, because the mode() method returns a ModeResult object that contains the mode number (22), and count (how many times the mode number appeared (3)

# Task 2

In [6]:
#calculating the product of a series of integers that are passed to the function product, 
#which receives an arbitrary argument list
def product(*args):
    if len(args) == 1:
        return args[0]
    else:
        return args[-1] * product(*args[:-1])
    
#the function calls
print(product(1,2))
print(product(1,2,3))
print(product(1,2,3,4))
print(product(1,2,3,4,5))

2
6
24
120

# Task 3

In [7]:
#implementing a Fahrenheit function that returns the Fahrenheit equivalent of a Celsius temperature
for CelciusTemp in range(100):
    farenheitTemp = (9/5) * CelciusTemp + 32
    print(CelciusTemp, "\t", farenheitTemp)

0 	 32.0
1 	 33.8
2 	 35.6
3 	 37.4
4 	 39.2
5 	 41.0
6 	 42.8
7 	 44.6
8 	 46.4
9 	 48.2
10 	 50.0
11 	 51.8
12 	 53.6
13 	 55.400000000000006
14 	 57.2
15 	 59.0
16 	 60.8
17 	 62.6
18 	 64.4
19 	 66.2
20 	 68.0
21 	 69.80000000000001
22 	 71.6
23 	 73.4
24 	 75.2
25 	 77.0
26 	 78.80000000000001
27 	 80.6
28 	 82.4
29 	 84.2
30 	 86.0
31 	 87.80000000000001
32 	 89.6
33 	 91.4
34 	 93.2
35 	 95.0
36 	 96.8
37 	 98.60000000000001
38 	 100.4
39 	 102.2
40 	 104.0
41 	 105.8
42 	 107.60000000000001
43 	 109.4
44 	 111.2
45 	 113.0
46 	 114.8
47 	 116.60000000000001
48 	 118.4
49 	 120.2
50 	 122.0
51 	 123.8
52 	 125.60000000000001
53 	 127.4
54 	 129.2
55 	 131.0
56 	 132.8
57 	 134.60000000000002
58 	 136.4
59 	 138.2
60 	 140.0
61 	 141.8
62 	 143.60000000000002
63 	 145.4
64 	 147.2
65 	 149.0
66 	 150.8
67 	 152.60000000000002
68 	 154.4
69 	 156.2
70 	 158.0
71 	 159.8
72 	 161.6
73 	 163.4
74 	 165.20000000000002
75 	 167.0
76 	 168.8
77 	 170.6
78 	 172.4
79 	 174.20000000000002
80 	 176.0
81 	 177.8
82 	 179.6
83 	 181.4
84 	 183.20000000000002
85 	 185.0
86 	 186.8
87 	 188.6
88 	 190.4
89 	 192.20000000000002
90 	 194.0
91 	 195.8
92 	 197.6
93 	 199.4
94 	 201.20000000000002
95 	 203.0
96 	 204.8
97 	 206.6
98 	 208.4
99 	 210.20000000000002

# Task 4

In [8]:
list = [1, 2, 3, 4, 5] #passing the list [1, 2, 3, 4, 5] as an argument
# the function of task
def mystery(x): 
    y = 0
    for value in x:
        y += value ** 2
    return y

In [9]:
mystery(list) #calling mystery function

55

# Task 5

In [10]:
#What does the following function do, based on the sequence it receives as an argument?
def mystery(sequence):
    return sequence == sorted(sequence)
# the sorted and unsortered lists
list = [1, 36, 44, 17, 3 ]
list1 = [1, 2, 3, 4, 5]
#printing lists
print(mystery(list))
print(mystery(list1))

False
True

# Task 6

In [11]:
#creating a 2-by-3 list, then using a nested loop
values = [[1,2,3], [4,5,6]]
for row in values:
    for item in row:
        print(item, end= ' ')
    print()

1 2 3
4 5 6

# Task 7

In [12]:
alphabet = 'abcdefghijklmnopqrstuvwxyz' #the alphabet 
# a The first half of the string using starting and ending indices
print(alphabet[0:len(alphabet) // 2])

#b  The first half of the string using only the ending index
print(alphabet[:len(alphabet) // 2])

#c  The second half of the string using starting and ending indices
print(alphabet[len(alphabet) // 2: len(alphabet)])

#d The second half of the string using only the starting index
print(alphabet[len(alphabet) // 2 : ])

abcdefghijklm
abcdefghijklm
nopqrstuvwxyz
nopqrstuvwxyz

In [13]:
#e Every second letter in the string starting with 'a'
print(alphabet[::2])

#f The entire string in reverse
print(alphabet[::-1])

#g Every third letter of the string in reverse starting with 'z'
print(alphabet[::-3])

acegikmoqsuwy
zyxwvutsrqponmlkjihgfedcba
zwtqnkheb

# Task 8

In [14]:
#checking sequence is sorted or not
def is_ordered(sequence):
    return sequence == sorted(sequence)

# the sorted and unsorted lists, tuples and strings
list = [1, 36, 44, 17, 3 ]
list1 = [1, 2, 3, 4, 5]
tuples = ("a", "b", "c")
string = ["ant", "bee", "cat"]
string1 = ["cat", "ant", "bee"]

# printing the sorted and unsorted lists, tuples and strings
print(is_ordered(list))
print(is_ordered(list1))
print(is_ordered(tuples))
print(is_ordered(string))
print(is_ordered(string1))

False
True
False
True
False

# Task 9

In [15]:
listoftuples = [ ("Kuralay", "Makhmetova"), ("Albert", "Jones"), ("Mohhammed", "Ali") ] # the list of tuples with first and last name
#finding the people with last name "Jones"
result = [item for item in listoftuples
          if item[1] == 'Jones']

In [16]:
print(result) #printing the result

[('Albert', 'Jones')]

# Task 10

In [17]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6] # declaring numbers
list(map(lambda x: x * 2,
         filter(lambda x: x % 2 == 0, numbers)))

[20, 8, 4, 16, 12]

## Answer: if we reorder the code, it will throw error that demands at least two arguments, because of syntax